<div class="beauty-landing">
	<section class="beauty-banner">
		<div class="title-overlay">
			<h1>Beauty</h1>
		</div>
		<img src="https://s3.us-east-2.amazonaws.com/fall-2017/Beauty+Landing+Page/banner.jpg">
	</section>
	<section class="beauty-categories">
		{% for link in linklists.['beauty'].links %}
			{% assign link_handle = link.title | handleize %}
			{% if link_handle contains "gift" or link_handle contains "wellness" %}
				{% assign class = ' half-width' %}
			{% endif %}
			<div class="beauty-category{{ class }}">
			  <a href="{{ link.url }}">
			  	<div class="title-overlay dark-hover">
			  		<h2>{{ link.title }}</h2>
			  	</div>
			  	{% if link_handle contains "gift" or link_handle contains "wellness" %}
			  		<img class="desktop_hidden" src="{{ 'https://s3.us-east-2.amazonaws.com/fall-2017/Beauty+Landing+Page/m-' | append: link_handle |  append: '.jpg' }}">
			  		<img class="mobile_hidden" src="{{ 'https://s3.us-east-2.amazonaws.com/fall-2017/Beauty+Landing+Page/' | append: link_handle |  append: '.jpg' }}">
			  	{% else %}
			  		<img src="{{ 'https://s3.us-east-2.amazonaws.com/fall-2017/Beauty+Landing+Page/' | append: link_handle |  append: '.jpg' }}">
			  	{% endif %}
			  	
			  </a>
		  </div>
		{% endfor %}
	</section>
</div>