</div>
<div class="silk-road campaign">
<div>
{% comment %}	<div class="cell-video-container">
		<div class="text">
		</div>
		<div class="absolute-scroll center mobile_hidden">	
			<h1 class="light">The Silk Road Campaign</h1><br />
			<a id="link" class="light learn-more">EXPLORE<span></span></a>
		</div>
		<div class="absolute-scroll top center desktop_hidden">	
			<h1 class="light">The Silk Road Campaign</h1><br />
		</div>
		<iframe class="mobile_hidden" src="https://player.vimeo.com/video/205951967?background=1&autoplay=1" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
		<iframe class="desktop_hidden" src="https://player.vimeo.com/video/205951967?title=0&byline=0&portrait=0" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
		<div class="absolute-scroll bottom center desktop_hidden">
			<a id="link" class="light learn-more">EXPLORE<span></span></a>
		</div>
	</div>{% endcomment %}

	<div class="cover-area">
		<iframe class="hpvideo hide-mobile" src="https://player.vimeo.com/video/205951967?background=1&autoplay=1" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
		<div class="mobile-video hide-desktop">
			<div class="video-item" data-video-id="205951967">
				<img class="lazyload" data-src="https://s3.us-east-2.amazonaws.com/fall-2017/Past+Collection+and+Campaign/Silk+Road+Campaign/Header_m.jpg">
				<div class="play-icon">
					<i class="material-icons">play_arrow</i>
				</div>
			</div>
			<div class="video-overlay">
				<i class="close material-icons">close</i>
				<div class="video-holder">
					<div class="video-responsive">
						<div id="video"></div>
					</div>
				</div>
			</div>
		</div>
		
		<h1 class="light">The Silk Road Campaign</h1>
		<div class="down-arrow" data-target="#images">EXPLORE</div>
	</div>

	<div class="full-width first bg-full">
	<div class="text right">
		<h5 class="light">"Traveling the world is a constant inspiration."<br /><br/>- Donna Karan</h5>
	</div>
		<a name="jump-to"> </a>
	</div>
	<div class="full-width">
		<div class="half left">
			<img src="{{ 'campaign_03.jpg' | asset_url | split:'?' | first }}" alt="Urban Zen Silk Road Collection installation Pictures" />
		</div>
		<div class="half left">
			<img src="{{ 'campaign_03b.jpg' | asset_url | split:'?' | first }}" alt="Urban Zen Silk Road Collection installation Pictures" />
		</div>
	</div>
	<div class="full-width">
		<img src="{{ 'campaign_04.jpg' | asset_url | split:'?' | first }}" alt="Urban Zen Silk Road Collection installation Pictures" />
	</div>	
	<div class="full-width">
		<div class="half left">
			<img src="{{ 'campaign_05.jpg' | asset_url | split:'?' | first }}" alt="Urban Zen Silk Road Collection installation Pictures" />
		</div>
		<div class="half left">
			<img src="{{ 'campaign_06.jpg' | asset_url | split:'?' | first }}" alt="Urban Zen Silk Road Collection installation Pictures" />
		</div>
	</div>
	<div class="full-width">
		<img src="{{ 'campaign_07.jpg' | asset_url | split:'?' | first }}" alt="Urban Zen Silk Road Collection installation Pictures" />
	</div>		
</div>	
<div class="article">
	<br/>
	<br/>
	<br/>
	<p class="credits center light">Model: Tiana Tolstoi  | Photographer: Adam Franzino <br />Hair: Dakota Heman | Make-Up: Bank Natdanai | Location: Urban Zen Center</p>
	<br/>
	<br/>
	<br/>
	<h1 class="light center">BEHIND-THE-SCENES</h1><br/>
	<div class="alchemistSlider relative_slider black-nav">
		<ul class="slides">
			<li class="item">
				<a rel="gallery1" class="fancybox" href="{{ 'BTS_01.jpg' | asset_url | split:'?' | first }}">
					<img src="{{ 'BTS_01.jpg' | asset_url | split:'?' | first }}" alt="Urban Zen Silk Road Collection installation Pictures" />
				</a>
			</li>
			<li class="item">
				<a rel="gallery1" class="fancybox" href="{{ 'BTS_02.jpg' | asset_url | split:'?' | first }}">
					<img src="{{ 'BTS_02.jpg' | asset_url | split:'?' | first }}" alt="Urban Zen Silk Road Collection installation Pictures" />
				</a>
			</li>
			<li class="item">
				<a rel="gallery1" class="fancybox" href="{{ 'BTS_03.jpg' | asset_url | split:'?' | first }}">
					<img src="{{ 'BTS_03.jpg' | asset_url | split:'?' | first }}" alt="Urban Zen Silk Road Collection installation Pictures" />
				</a>
			</li>
			<li class="item">
				<a rel="gallery1" class="fancybox" href="{{ 'BTS_04.jpg' | asset_url | split:'?' | first }}">
					<img src="{{ 'BTS_04.jpg' | asset_url | split:'?' | first }}" alt="Urban Zen Silk Road Collection installation Pictures" />
				</a>
			</li>
			<li class="item">
				<a rel="gallery1" class="fancybox" href="{{ 'BTS_05.jpg' | asset_url | split:'?' | first }}">
					<img src="{{ 'BTS_05.jpg' | asset_url | split:'?' | first }}" alt="Urban Zen Silk Road Collection installation Pictures" />
				</a>
			</li>
			<li class="item">
				<a rel="gallery1" class="fancybox" href="{{ 'BTS_06.jpg' | asset_url | split:'?' | first }}">
					<img src="{{ 'BTS_06.jpg' | asset_url | split:'?' | first }}" alt="Urban Zen Silk Road Collection installation Pictures" />
				</a>
			</li>
			<li class="item">
				<a rel="gallery1" class="fancybox" href="{{ 'BTS_07.jpg' | asset_url | split:'?' | first }}">
					<img src="{{ 'BTS_07.jpg' | asset_url | split:'?' | first }}" alt="Urban Zen Silk Road Collection installation Pictures" />
				</a>
			</li>
			<li class="item">
				<a rel="gallery1" class="fancybox" href="{{ 'BTS_08.jpg' | asset_url | split:'?' | first }}">
					<img src="{{ 'BTS_08.jpg' | asset_url | split:'?' | first }}" alt="Urban Zen Silk Road Collection installation Pictures" />
				</a>
			</li>
		</ul>
	</div>
	<section class="fp-section clearfix center section">
		<br/><br/><br/><br/>
		<h1 class="light uppercase">EXPLORE THE COLLECTION</h1><br/><br/>
		<a href="/pages/silk-road-collection/" class="cta-button" title="Shop Silk Road Collection">shop by look</a>
	</section>
</div>
